
<div class="form" [formGroup]="loginForm">
    <div>
        <label>Email Id</label>
        <div class="form1">
            <div class="innerborder">
            <mat-form-field appearance="outline" class="formfields">
                <input matInput formControlName="email">
                <mat-error class="errors">Email required</mat-error>
            </mat-form-field></div>
        </div>
    </div>
    <div>
        <label>Password</label>
        <div class="form1">
            <div class="innerborder">
            <mat-form-field appearance="outline" class="formfields">
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" >
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error class="errors">Passwordmust be at least 6 characters</mat-error>
            </mat-form-field></div>
        </div>
    </div>
    <div>
        <button mat-raised-button style="background-color: brown;color: white;" class="button" (click)="login()">Login</button>
    </div>
</div>
<div class="buttons">
    <div>
        <button mat-raised-button color="primary" style="width:125px">Facebook</button>
    </div>
    <div>
        <button mat-raised-button color="basic" style="width:125px">Google</button>
    </div>
</div>